* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

/* Hr */

.hr {
    background-color: #faf8f4;
}

hr.new_section {
    border: 1px solid #222;
    border-radius: 5px;
    width: 60%;
    margin: auto;
}

hr.underline {

}

/* Navbar */

.navbar {
    background: #faf8f4;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #222;
    background-image: #222;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
    display: inline-block;
}

.navbar_links {
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
}

/* Intro */

.main {
    background-color: #faf8f4;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #faf8f4;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    border-radius: 20px;
}


.main_content h1 {
    font-family: 'Crimson Pro', serif;
    font-size: 72px;
    font-weight: 700;
    color: #222;
    margin-left: 70px;
}

.main_content p {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin-left: 70px;
}

.main_img--container {
    text-align: center;
}

#main_img {
    height: 70%;
    width: 70%;
    border-radius: 10px;
    border: 2px solid #222;
}

/* Content */

.content {
    background: #faf8f4;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: auto;
}

.content_container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: normal;
    justify-self: normal;
    margin: 0 auto;
    height: auto;
    background-color: #faf8f4;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 40px;
    border-radius: 20px;
}

