*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background: #faf8f4;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-sizing: content-box;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #222;
    background-image: #222;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.75rem;
    color: #222;
    font: none;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
    display: inline-block;
}

.navbar_links {
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
}

#container {
    display: flex;
    background-color: #faf8f4;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

#banner {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 2px solid #222;
}

.title {
    color: #222;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;

}

body {
    background-color: #faf8f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}
  
.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
  
.key {
    font-size: inherit;
    grid-column: span 2;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 0), 
        var(--saturation, 0%), 
        var(--lightness, 13%));
    color: #faf8f4;
    fill: #faf8f4;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
    border: none;
    border: solid 1px #222;
}
  
.key.large {
    grid-column: span 3;
}
  
.key > svg {
    width: 1.75em;
    height: 1.75em;
}
  
.key.wrong {
    --lightness: 41%;
}
  
.key.wrong-location {
    --hue: 44;
    --saturation: 76%;
    --lightness: 51%;
}
  
.key.correct {
    --hue: 60;
    --saturation: 100%;
    --lightness: 25%;
}
  
.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 3.25em);
    grid-template-rows: repeat(6, 3.25em);
    gap: .25em;
    margin-bottom: 1em;
}
  
.tile {
    font-size: 2em;
    color: #222;
    border: .05em solid #222;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
    border-radius: 6px;
}
  
.tile[data-state="active"] {
    border: .075em solid #222;
}
  
.tile[data-state="wrong"] {
    background-color: #696969;
}
  
.tile[data-state="wrong-location"] {
    background-color: #E1AD21;
}
  
.tile[data-state="correct"] {
    background-color: #808000;
}
  
.tile.shake {
    animation: shake 250ms ease-in-out;
}
  
.tile.dance {
    animation: dance 500ms ease-in-out;
}
  
.tile.flip {
    transform: rotateX(90deg);
}
  
@keyframes shake {
    10% {
        transform: translateX(-5%);
    }
  
    30% {
        transform: translateX(5%);
    }
  
    50% {
        transform: translateX(-7.5%);
    }
  
    70% {
        transform: translateX(7.5%);
    }
  
    90% {
        transform: translateX(-5%);
    }
  
    100% {
        transform: translateX(0);
    }
}
  
@keyframes dance {
    20% {
      transform: translateY(-50%);
    }  
  
    40% {
      transform: translateY(5%);
    }  
  
    60% {
      transform: translateY(-25%);
    }  
  
    80% {
      transform: translateY(2.5%);
    }  
  
    90% {
      transform: translateY(-5%);
    }  
  
    100% {
      transform: translateY(0);
    }
}
  
.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.alert {
    pointer-events: none;
    background-color: #696969;
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
    color: #faf8f4;
}
  
.alert:last-child {
    margin-bottom: 0;
}
  
.alert.hide {
    opacity: 0;
}

/* footer */

/* Hr */

.hr {
    background-color: #faf8f4;
}

hr.new_section {
    border: 1px solid #222;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.footer__container {
    background-color: #faf8f4;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__icon--link {
    color: #222;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-left: 700px;
    margin-bottom: 10px;
}